@{
    Layout = null;
}
@using Common
<!DOCTYPE html>

<html lang="en">
<head>
    <title>VPBank Test</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping-cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Contents/Fontawesome/css/all.min.css?v=@Common.CommonSystem.AssemblyVersion" />
    <link href="~/Contents/bootstrap/css/Site.css?v=@Common.CommonSystem.AssemblyVersion" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">VP Bank Test</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/Index">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart fa-50px" onclick="showCart()"></span><span id="spCountItem">0 - Items</span> </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="main" style="top:70px !important">
        @RenderBody()
    </div>

    <script>
        let countItem = 0;
        function showCart() {
            window.location = "/Home/ItemInCart";
        }
    </script>
</body>
</html>
